.body {
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
    background-color: #442C58;
}

.formulario-padre{
    top:128px ;
    position: absolute;
    width: 451px;
    height: 930px;
    border-radius: 15px;
    border: 1px solid #797979;
    background-color: #7c5e7d;
    box-sizing: border-box;
    font-family: 'Arial Regular', 'Arial', sans-serif;
    color: #333333;
    text-align: center;
    line-height: normal;
    
}

.formulario-hijo{
    border-radius: 15px;
    width: 382px;
    height: 880px;
    border: 1px solid #797979;
    background-color: #d9c8c8;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-align: center;
    line-height: normal;
    margin-top: 30px;
    margin-left: 7%;
}

.mat-form-field {
    width: 80%;
}

.mat-checkbox{
    margin-left: 15px;
    margin-bottom: 10px;
}

.mat-raised-button {
    margin-bottom: 10px;
    width: 80%;
}